* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus-visible {
  outline: 2px solid black;
  border-radius: 0;
  outline-offset: 2px;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #fff;
}

.layout {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  box-sizing: border-box;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: none;
  border: none;
  padding: 32px;
}

.main-nav .nav-left a {
  color: black;
  text-decoration: none;
  font-weight: 600;
}

.main-nav .nav-right {
  display: flex;
  gap: 16px;
}

.main-nav .nav-right a {
  font-size: 24px;
  color: black;
  text-decoration: none;
}

.hero-statement {
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 48px;
  background-color: #fafafa;
  position: relative; /* Make the parent a positioning context */
  cursor: none;
}

.custom-cursor {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100px; /* Set width of the image */
  height: 100px; /* Set height of the image */
  pointer-events: none;
  z-index: 9999;
  background-image: url("assets/stamp-face.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.custom-cursor::after {
  content: ""; /* Remove the icon content */
}

.hero-statement h1.hero-text .highlight-text {
  font-family: "Sour Gummy", cursive;
  font-style: italic;
}

.hero-statement h1.hero-text {
  font-size: 1.5rem;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 1.5;
}

#drawing-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-radius: 48px;
}

.landing-content {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 164px auto 0;
  padding: 32px;
}

.content-block {
  margin-bottom: 96px;
  display: flex;
  flex-flow: column;
  align-content: center;
  gap: 0;
}
.content-block h2 {
  margin-bottom: 32px;
  font-size: 1.25rem;
  font-weight: 600;
}
.content-block p {
  font-size: 1rem;
  line-height: 1.8rem;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.6);
  max-width: 540px;
  letter-spacing: 0.4px;
}

.experience-list {
  list-style: none;
  margin-top: 32px;
  margin-bottom: 32px;
}

.experience-list-item {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 16px;
  gap: 24px;
}

.experience-list-item .experience-name {
  font-weight: 500;
  min-width: 240px;
}

hr.divider {
  border: none;
  border-top: 1px solid #e0e0e0;
  margin-bottom: 112px;
  width: 100%;
}
